<h1>@ViewData["Title"]</h1>
<body style="background-color:mintcream; text-align:center;">
    <header>



        <h1>About Us....</h1>
    </header>

    <p>
        KLU is strongly oriented towards economic science and interdisciplinary studies. Together with the Fraunhofer Institute for Maritime Logistics and the technology-oriented logistics center at Hamburg University of Technology, KLU is part of an important cluster of logistics research institutes in northern Europe.

    </p>
</body>