@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to University of KLU </h1>
    <img src="https://th.bing.com/th/id/R.b98a8117d20fabf953995da72551dad5?rik=1acvjZeGERIodA&riu=http%3a%2f%2fknowafest.com%2ffiles%2fuploads%2fKLH-2018-2019051701.png&ehk=0fy0AmR8v0Dwy8LfRF46cakHVLSe54q1kx8H8mwrgpE%3d&risl=&pid=ImgRaw&r=0" />
